@{
    ViewBag.Title = "Home Page";
}
<p></p>
<div class="fixedBg">
    <p style="padding: 300px 200px; font-family: Impact, fantasy; font-size: 70px; color: white; text-shadow: black 0.1em 0.1em 0.2em ">
        Leading Sports & Entertainment
    </p>
</div>

<body>
    <div style="margin-bottom: 2cm">
        <h2 align="center">Who We Are</h2>
        <h4 align="center">Sport Day is a dynamic sports and entertainment business.</h4>
        <h4 align="center">We connect brands with fans across multiple platforms including radio in order to provide more information and knowledage about Sport. </h4>

    </div>

    <div style="margin-right: 100px; margin-left: 100px">
        <div style="position:center">
            <h2 align="center"> What We Provide</h2>
            <div class="row" style="">
                <div class="col-md-4">
                    <div style="background: url('https://ichef.bbci.co.uk/news/976/cpsprodpb/1F36/production/_118109970_livreal.jpg') no-repeat; width: 600px; height: 400px">
                        <p style="padding: 180px 200px; font-family: Impact, fantasy; font-size: 70px; color: white; text-shadow: black 0.1em 0.1em 0.2em ">Events</p>
                    </div>
                    <p>
                        Sport Day will provide the matches about different kinds of sports. Users can view the information about the matches, it includes the teams, time, locaiton and the date. Also, users can order the tickets on of the matches on SportDay.
                    </p>

                </div>
                <div class="col-md-4">
                    <div style="background: url('https://live-production.wcms.abc-cdn.net.au/5f1df89015975fc943e0683874a0f2aa?impolicy=wcms_crop_resize&cropH=2055&cropW=3654&xPos=0&yPos=372&width=862&height=485') no-repeat; width: 600px; height: 400px">
                        <p style="padding: 180px 200px; font-family: Impact, fantasy; font-size: 70px; color: white; text-shadow: black 0.1em 0.1em 0.2em ">News</p>
                    </div>
                    <p>
                        Sport Day will provide the news about different kinds of sports. Users can know about the results about the news In real time by search the match name.
                    </p>
                </div>


                <div class="col-md-4">
                    <div style="background: url(' https://www.betternutrition.com/wp-content/uploads/2016/09/exercise-facts.jpg?width=730') no-repeat; width: 600px; height: 400px">
                        <p style="padding: 180px 200px; font-family: Impact, fantasy; font-size: 70px; color: white; text-shadow: black 0.1em 0.1em 0.2em ">Knowledge</p>
                    </div>
                    <p>
                        Sport Day will provide knowledge about different kinds of activities to help people know how to do sport, it includes the rules and safety protection.
                    </p>
                </div>

            </div>
        </div>
    </div>
</body>

<style>
    body, html {
        height: 100%;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .fixedBg {
        min-height: 700px;
        background-image: url("https://www.meehanlawstl.com/wp-content/uploads/iStock-508552962.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>